@import '../../../../styles/mixins.scss';

.button {
  @include flex();
  @include font($weight: 300, $size: 1.5rem);
  text-transform: uppercase;
  border: 0.125rem solid transparent;
  color: $white;
  padding: 0.125rem 0.5rem;

  img {
    margin: 0 0.18rem;
  }

  &.borderless {
    &:hover {
      background-color: $green;
      border: 0.125rem solid $green;
      color: $darkGray;

      img {
        filter: invert(90%);
      }
    }
  }

  &.green {
    background-color: $green;
    border: 0.125rem solid $green;
    color: $darkGray;

    &:hover {
      border: 0.125rem solid $green;
      color: $green;

      img {
        filter: invert(76%) sepia(50%) saturate(1300%) hue-rotate(96deg) brightness(500%) contrast(500%);
      }
    }
  }

  &.white {
    background-color: $white;
    border: 0.125rem solid $white;
    color: $darkGray;

    &:hover {
      border: 0.125rem solid $white;
      color: $white;

      img {
        filter: invert(0);
      }
    }
  }

  &.green,
  &.white {
    img {
      filter: invert(90%);
    }
  }

  &:hover {
    background-color: transparent;
  }
}