@import 'styles/mixins.scss';

.button {
  @include flex();
  @include font($weight: 300, $size: 1.5rem);
  padding: 0.125rem 0.5rem;
  border: 0.125rem solid transparent;
  color: $white;
  text-transform: uppercase;

  img {
    margin: 0 0.25rem;
  }

  &:hover {
    background-color: transparent;
  }

  &.close {
    padding: 0.25rem;

    &:hover {
      border-color: $white;
    }

    img {
      margin: 0;
    }
  }

  &.borderless {
    &:hover {
      border-color: $green;
      background-color: $green;
      color: $darkGray;

      img {
        filter: invert(90%);
      }
    }
  }

  &.green {
    border-color: $green;
    background-color: $green;
    color: $darkGray;

    &:hover {
      border-color: $green;
      background-color: $darkGray;
      color: $green;

      img {
        filter: invert(76%) sepia(50%) saturate(1300%) hue-rotate(96deg) brightness(500%) contrast(500%);
      }
    }
  }

  &.white {
    border-color: $white;
    background-color: $white;
    color: $darkGray;

    &:hover {
      border-color: $white;
      background-color: $darkGray;
      color: $white;

      img {
        filter: invert(0);
      }
    }
  }

  &.green,
  &.white {
    img {
      filter: invert(90%);
    }
  }
}