@import 'styles/mixins.scss';

.input {
  @include size(100%, 7rem);

  label {
    @include size(100%, 100%);
    @include font($weight: 300);
    display: flex;
    padding: 0.25rem;
    background-color: $darkGray;
    cursor: pointer;

    .imgContainer {
      @include size(100%, 100%);
      @include flex();
      padding: 0.5rem;
      gap: 0.5rem;
      border: 0.0625rem dashed $lightGray;
      color: $lightGray;

      .placeholder {
        @include size(100%, 100%);
        position: relative;

        img {
          @include size(100%, 100%);
          object-fit: cover;
        }

        button {
          background: var(--primary-color);
          position: absolute;
          top: -0.2rem;
          right: -0.2rem;

          img {
            filter: brightness(0.2);
          }
        }

        &.addMore {
          @include flex();
          border: 0.0625rem dashed $lightGray;

          span {
            font-size: 1.6rem;
          }
        }
      }

      // img {
      //   @include size(100%, 100%);
      //   object-fit: cover;
      // }
    }
  }

  input {
    display: none;

    &:focus {
      outline: none;
      border: 0.0625rem solid var(--primary-color);
    }
  }
}