@import 'styles/mixins.scss';


.landing {
  @include container(4rem, $white);
  @include flex(row, flex-start, center);
  @include size(100vw, 100vh);
  position: relative;
  color: $darkGray;
  overflow: hidden;

  @media only screen and (max-width: $tablet) {
    @include flex(column, $align: flex-start);
    @include container(2rem, $white);
  }

  .landingInfo {
    width: 60%;
    z-index: 1;
    
    @media only screen and (max-width: $mobile) {
    width: 100%;
    }
    
    h1 {
      font-size: 6.25rem;
      text-transform: uppercase;
      text-align: left;
      line-height: 110%;
  
      @media only screen and (max-width: $desktop) {
        font-size: 5.25rem;
      }
  
      @media only screen and (max-width: $tablet) {
        font-size: 3.5rem;
        text-align: left;
      }
  
      @media only screen and (max-width: $mobile) {
        font-size: 2.5rem;
      }
    }
  
    h3 {
      font-size: 1.8rem;
      margin: 2rem 0;

      @media only screen and (max-width: $desktop) {
        font-size: 1.5rem;
      }
  
      @media only screen and (max-width: $tablet) {
        font-size: 1.25rem;
      }
  
      @media only screen and (max-width: $mobile) {
        font-size: 1rem;
      }
    }

    h3 span{
      color: $green;
    }
  }

  .landingImage {
    width: 55rem;
    position: absolute;
    right: 0;
    z-index: 1;

    @media only screen and (max-width: $desktop) {
      width: 40rem;
    }

    @media only screen and (max-width: $tablet) {
      width: 35rem;
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  .circle {
    @include size(60rem, 60rem);
    @include absolute($top: -50%, $right: -30%);
    border: 1.875rem solid $green;
    border-radius: 50%;

    @media only screen and (max-width: $desktop) {
      @include size(45rem, 45rem);
      @include absolute($top: -30%, $right: -30%);
    }

    @media only screen and (max-width: $tablet) {
      @include size(35rem, 35rem);
      @include absolute($top: -8%, $right: -30%);
    }

    @media only screen and (max-width: $mobile) {
      @include size(35rem, 35rem);
      @include absolute($top: -20%, $left: -70%);
    }
  }

  .buttons {
    @include flex($justify: flex-start);
    gap: 1rem;

    button{
      width: fit-content;
      &:first-child:hover, &:last-child{
        background-color: transparent;
      }

      @media only screen and (max-width: $mobile) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $tablet) {
      @include flex($direction: column , $align: flex-start);
      width: 100%;
      margin-top: 2rem;
    }
  }
}