@import 'styles/mixins.scss';

.wrapper {
  @include flex($justify: space-between);
  @include font($weight: 600);
  padding-bottom: 0.25rem;
  border-bottom: 0.225rem solid $darkGray;
  color: $white;

  .controls {
    display: flex;
    margin-left: 1rem;

    button {
      @include font($weight: 300);

      &:last-child {
        margin-left: 0.5rem;
        color: $red;

        &:hover {
          border-color: $red;
          color: $white;
          background-color: $red;
        }
      }
    }
  }
}