@import 'styles/mixins.scss';

.header {
  @include container(2rem 4rem, $background: $darkGray, $boxShadow: $shadow);
  position: fixed;
  z-index: 2;
  width: 100%;

  .btnWrapper {
    @include flex($justify: space-between);

    button:last-child {
      flex-direction: row-reverse;
    }
  }

  .pageInfo {
    @include flex($justify: space-between);
    margin-top: 2rem;

    h1 {
      line-height: 100%;

      span {
        color: $green;
      }
    }
  }

  &.headerTransparent {
    @include container(2rem 4rem, $background: transparent, $boxShadow: none);
    position: absolute;

    button:last-child {
      flex-direction: row;
    }
  }

  &.hideHeader {
    @include container(2rem 4rem, $background: transparent, $boxShadow: none);

    .pageInfo {
      display: none;
    }
  }
}