@import 'styles/mixins.scss';

.header {
  @include container(2rem 4rem, $background: $darkGray, $boxShadow: $shadow);
  position: fixed;
  z-index: 2;
  width: 100%;

  @media only screen and (max-width: $tablet) {
    @include container(1rem 2rem, $background: $darkGray, $boxShadow: $shadow);
  }

  nav {
    @include flex($justify: space-between);

    @media only screen and (max-width: $tablet) {
      display: none;
    }

    button:last-child {
      flex-direction: row-reverse;
    }
  }

  .pageInfo {
    @include flex($justify: space-between);
    margin-top: 2rem;

    h1 {
      line-height: 100%;

      span {
        color: $green;
      }
    }
  }

  &.headerTransparent {
    @include container(2rem 4rem, transparent, none);

    button:last-child {
      flex-direction: row;
    }
  }

  &.hideHeader {
    @include container(2rem 4rem, transparent, none);

    .pageInfo {
      @include flex($justify: flex-end);
      height: 5rem;
    }
  }
}