@import './mixins.scss';

html,
body {
  @include font($family: $sora);
  background-color: $darkGray;
  color: $white;
  overflow: overlay;

  h1 {
    @include font($weight: 600, $line: 125%, $family: $sora);
    font-size: $heading;
  }

  h3 {
    @include font($weight: 300, $line:150%, $family: $sora);
    font-size: $title;
  }

  p {
    @include font($line: 150%, $family: $playfair);
    font-size: $longText;
  }

  a,
  li,
  button {
    font-size: $text;
  }

  a,
  button {
    text-decoration: none;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  a {

    &:focus,
    &:active,
    &:visited,
    &:link,
    &:hover {
      text-decoration: none;
      color: inherit;
      outline: none;
    }
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  input {
    border: none;
  }

  ::placeholder {
    color: $lightGray;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  background: $gray;
}

::-webkit-scrollbar-thumb {
  background: $darkGray;
  border: 0.125rem solid $gray;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightGray;
}