@import './variables.scss';

@mixin container($padding:1rem, $background: inherit, $boxShadow: inherit) {
  padding: $padding;
  background-color: $background;
  box-shadow: $boxShadow;
}

@mixin font($style: normal, $weight: 400, $size: 1rem, $line: 1.5rem, $family: $sora) {
  font: $style $weight #{$size}/#{$line} $family;
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($gap: 1rem, $grid: $grid) {
  display: grid;
  gap: $gap;
  grid: $grid;
}

@mixin absolute($top: inherit, $right: inherit, $bottom: inherit, $left: inherit) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width: $width, $height: $height) {
  width: $width;
  height: $height;
}