@import 'styles/mixins.scss';

.contentContainer {
  overflow: hidden;

  .hero {
    @include flex($direction:column, $justify:flex-end);
    height: 75vh;
    position: relative;

    img {
      @include size(100%, 100%);
      position: absolute;
      object-fit: cover;
      object-position: center bottom;
    }

    h1 {
      @include font(normal, 800, 16rem, 100%);
      z-index: 2;
      white-space: nowrap;
      text-transform: uppercase;
      text-shadow: -0.125rem -0.125rem 0 $white, 0.125rem -0.125rem 0 $white, -0.125rem 0.125rem 0 $white, 0.125rem 0.125rem 0 $white;
      color: $darkGray;
      opacity: 0.3;
      -webkit-user-select: none;
    }
  }

  .main {
    overflow: hidden;

    h1 {
      font-weight: 600;
      margin-top: 4rem;
    }

    h3 {
      color: $green;
    }

    p {
      margin-top: 2rem;
    }

    .primaryDescription {
      position: relative;

      .primaryDescriptionContent {
        @include container(8rem 4rem);
        width: 65%;
        float: right;
      }

      img {
        @include size(100%, 80vh);
        object-fit: cover;
      }

      .about {
        @include size(27rem, 27rem);
        @include flex($direction: column, $justify: space-evenly);
        @include absolute($top: 15%, $left: -5%);
        border: 0.125rem solid $white;
        border-radius: 50%;

        &::after {
          @include size(100%, 100%);
          @include absolute($top: -1.6%, $right: -1%);
          content: '';
          border: 0.125rem solid $white;
          border-radius: 50%;
          transform: scale(1.125, 1.125);
        }

        .aboutCategory {
          @include flex(column);

          span {
            color: $green;

            &:last-child {
              color: $white;
            }
          }
        }
      }
    }

    .secondaryDescription {
      @include container(8rem 4rem);
      @include flex($justify: space-between, $align: flex-start);

      img {
        @include size(45%, 25rem);
        min-width: 45%;
        object-fit: cover;
        margin-top: 7.5rem;
      }

      .secondaryDescriptionContent {
        width: 80%;
        margin-left: -3.5rem;
      }
    }

    .gallery {
      @include flex();
      @include container(8rem 4rem);

      .myMasonryGrid {
        display: flex;
        width: 80%;

        .myMasonryGridColumn {
          img {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}