@import 'styles/mixins.scss';

.contentContainer {
  overflow: hidden;

  h3 {
    color: var(--primary-color);
  }

  p {
    margin-top: 1rem;
  }

  .hero {
    @include flex(column, flex-end);
    position: relative;
    height: 75vh;

    @media only screen and (max-width: $tablet) {
      height: 30vh;
    }

    img {
      @include size(100%, 100%);
      position: absolute;
      object-fit: cover;
      object-position: center bottom;
    }

    h1 {
      @include font(normal, 800, 16rem, 100%);
      @include strokeText();
      z-index: 1;
      opacity: 0.3;

      @media only screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  .main {
    overflow: hidden;

    .primaryBio {
      @include flex(row, space-between, flex-end);
      @include container(8rem 4rem);

      @media only screen and (max-width: $tablet) {
        @include flex(column-reverse, space-between, flex-start);
        @include container(4rem 2rem);
      }

      >div {
        @include flex(column, center, flex-end);
        width: 60%;
        text-align: right;

        @media only screen and (max-width: $tablet) {
          @include flex(column, center, flex-start);
          width: 100%;
          text-align: left;
        }

        h4 {
          @include font(normal, 600, 5rem, 5rem);
          margin-top: 6rem;

          @media only screen and (max-width: $tablet) {
            @include font(normal, 600, 3rem, 4rem);
          }
        }
      }

      .about {
        @include size(27rem, 27rem);
        @include flex($direction: column, $justify: space-evenly);
        position: relative;
        margin-left: -5rem;
        border: 0.0625rem solid $white;
        border-radius: 50%;

        @media only screen and (max-width: $tablet) {
          margin: 8rem 0 0 -9rem;
        }

        &::after {
          @include size(115%, 115%);
          @include position($top: -13%, $right: -13%);
          content: '';
          border: 0.0625rem solid $white;
          border-radius: 50%;
        }

        >div {
          @include flex(column);
          color: $white;

          span:last-child {
            color: var(--primary-color);
          }
        }
      }
    }

    >img {
      @include size(100%, 80vh);
      object-fit: cover;

      @media only screen and (max-width: $tablet) {
        display: none;
      }
    }

    .secondaryBio {
      @include container(8rem 4rem);
      @include flex($justify: space-between, $align: flex-start);

      @media only screen and (max-width: $tablet) {
        @include container(2rem);
        @include flex(column);
      }

      img {
        @include size(45%, 25rem);
        min-width: 45%;
        margin-top: 7.5rem;
        object-fit: cover;

        @media only screen and (max-width: $tablet) {
          @include size(100%, 25rem);
          min-width: 100%;
          margin: 0 0 2rem 0;
        }
      }

      >div {
        width: 80%;
        margin-left: -3.5rem;

        @media only screen and (max-width: $tablet) {
          width: 100%;
          margin-left: 0;
        }
      }
    }

    .masonry {
      @include flex();
      width: 80%;
      margin: 4rem auto;

      @media only screen and (max-width: $tablet) {
        width: calc(100% - 4rem);
        margin: 2rem 2rem 8rem;
      }

      .masonryColumn img {
        padding: 0.5rem;

        @media only screen and (max-width: $tablet) {
          padding: 0.5rem 0;
        }
      }
    }
  }
}