@import 'styles/mixins.scss';

.timeline {
  position: relative;

  .slides {
    z-index: 2;
  }

  .line {
    @include absolute(2rem, 0);
    width: 100vw;
    height: 0.0625rem;
    background-color: rgba($color: $white, $alpha: 0.3);
  }
}

.month {
  @include flex(column);
}