@import 'styles/mixins.scss';

.timeline {
  height: 100%;
  position: absolute !important;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .slides {
    height: 100%;
  }

  .line {
    width: 100vw;
    height: 0.0625rem;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    background-color: rgba($color: $white, $alpha: 0.3);
  }
}

.month {
  @include flex(column);
}