@import 'styles/mixins.scss';

.contentContainer {
  @include container(4rem);
  @include flex(row, space-between, flex-end);
  min-height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: $tablet) {
    @include container(2rem 2rem 8rem);
    @include flex(column-reverse, center, flex-end);
  }

  .about {
    @include flex($direction: column, $align: flex-start);

    h1 span,
    h3 {
      color: $green;
    }

    p {
      width: 60%;

      @media only screen and (max-width: $tablet) {
        @include font(normal, 300, 1rem, 1.5rem);
        width: 100%;
      }
    }

    h3 {
      margin: 3rem 0 0.5rem;

      @media only screen and (max-width: $tablet) {
        @include font($size: 1.5rem, $line: 2rem);
        margin: 1.5rem 0 0.5rem;
      }
    }

    >button {
      flex-direction: row-reverse;
      margin-top: 4rem;

      @media only screen and (max-width: $tablet) {
        margin-top: 2rem;
      }
    }

    >div:not(.footer) {
      @include flex($justify: flex-start);
      margin: 1rem 0 8rem;

      @media only screen and (max-width: $tablet) {
        margin-bottom: 0;
      }

      a {
        padding-right: 1rem;
      }
    }

    .footer {
      @include flex($justify: flex-start);

      @media only screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  .imageGroup {
    position: relative;
    align-self: center;
    margin-bottom: 2rem;

    img {
      width: 30rem;

      @media only screen and (max-width: $tablet) {
        width: 15rem;
      }
    }

    &::after {
      @include size(150%, 150%);
      @include absolute($top: -15%, $right: -48.3%);
      content: '';
      border: 0.0625rem solid $white;
      border-radius: 50%;

      @media only screen and (max-width: $tablet) {
        @include size(125%, 125%);
        @include absolute($top: -24%, $right: -20%);
      }
    }
  }
}