@import 'styles/mixins.scss';

.contentContainer {
    @include container(4rem);
    @include flex($direction: column, $justify: space-between, $align: flex-start);
    height: 100vh;
    overflow: hidden;

    .about {
        @include flex($direction: column, $align: flex-start);
        width: 50%;
        padding-top: 10rem;

        >span {
            color: $green;
        }

        h3 {
            color: $green;
        }

        button {
            flex-direction: row-reverse;
        }

        ul {
            @include flex($justify: flex-start);

            a {
                padding-right: 1rem;
            }
        }
    }

    .imageGroup {
        position: absolute;
        top: 20%;
        right: -10%;

        img {
            width: 75%;
            position: absolute;
            top: 3rem;
            right: 9.5rem;
        }

        >div {
            position: relative;
        }

        >div>div {
            border-radius: 50%;
            border: 1px solid $white;
            height: 40rem;
            width: 40rem;
        }
    }

    .footer {
        @include flex($justify: flex-start);
    }
}