@import '../../../styles/mixins.scss';

.footer {
    @include flex($direction: column, $justify: center, $align: flex-start) ;
    margin-right: 2rem;

    span:first-child{
        color: $green;
    }
}