@import 'styles/mixins.scss';

.card {
  @include size(100%, 40vh);
  position: relative;
  padding: 5rem 0;

  button {
    @include font(normal, 800, 16rem, 9.375rem);
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: -0.125rem -0.125rem 0 $white, 0.125rem -0.125rem 0 $white, -0.125rem 0.125rem 0 $white, 0.125rem 0.125rem 0 $white;
    color: $darkGray;
    -webkit-user-select: none;
  }

  &:hover button {
    color: $white;
  }
}

.cursorFollow {
  position: absolute;
  background: url('/assets/images/placeholder.svg') no-repeat 50% 50%;
  background-size: cover;
  width: 60rem;
  height: 60rem;
  user-select: none;
  pointer-events: none;
}