@import 'styles/mixins.scss';

.card {
  @include size(100%, 40vh);
  position: relative;
  padding: 5rem 0;

  button {
    @include font(normal, 800, 16rem, 9.375rem);
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: -0.125rem -0.125rem 0 $white, 0.125rem -0.125rem 0 $white, -0.125rem 0.125rem 0 $white, 0.125rem 0.125rem 0 $white;
    color: $darkGray;
    -webkit-user-select: none;
  }

  img {
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &:hover {
    img {
      opacity: 1;
    }

    button {
      color: $white;
    }
  }
}