@import 'styles/mixins.scss';

.textarea {
  div {
    @include flex($justify: flex-start, $align: flex-start);
    margin-bottom: 0.5rem;
    color: $white;

    img {
      margin-left: 0.25rem;
    }
  }

  textarea {
    @include size(100%, 7rem);
    @include font($weight: 300);
    padding: 1rem;
    border: none;
    color: $white;
    background-color: $darkGray;
    resize: vertical;

    &.red {
      background-color: rgba($color: $red, $alpha: 0.1);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--primary-color);
    }
  }

  .errorMessage {
    display: block;
    margin-top: 0.5rem;
    color: $red;
    font-size: 0.95rem;
  }
}