@import 'styles/mixins.scss';

.wrapper {
    @include flex($direction: column, $justify: center, $align: flex-start);
    margin-right: 4rem;

    span:first-child {
        color: var(--primary-color);
    }
}